.gallerySection {
  font-size: var(--font-size-5xl);
}
.description,
.gallerySection {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.etiamSodalesAc {
  margin: 0;
}
.listItems {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bookADemo {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.button {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.content {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.imageIcon {
  width: 292px;
  height: 170px;
  object-fit: cover;
}
.imageWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageIcon1,
.imageIcon2,
.imageIcon3 {
  width: 292px;
  height: 146px;
  object-fit: cover;
}
.imageIcon2,
.imageIcon3 {
  height: 119px;
}
.imageIcon3 {
  height: 154px;
}
.column {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.imageIcon5 {
  width: 292px;
  height: 90px;
  object-fit: cover;
}
.imageWrapper5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.imageIcon6,
.imageIcon7 {
  width: 292px;
  height: 177px;
  object-fit: cover;
}
.imageIcon7 {
  height: 104px;
}
.smallColumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.contentParent {
  width: 940px;
  gap: var(--gap-37xl);
}
.columns,
.contentParent,
.galleryOverview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.columns {
  align-self: stretch;
  width: 1392px;
}
.galleryOverview {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 960px) {
  .smallColumns {
    flex-direction: column;
  }
}
@media screen and (max-width: 630px) {
  .contentParent {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
