@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-37xl: 56px;
  --gap-21xl: 40px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-base: 16px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
}
